<p id="notice"><%= notice %></p>

<!-- New Post Button, disabled due to the test (managing_posts_spec.rb) -->
<!-- <button class="hollow button"><%= link_to 'New Post', new_post_path %></button>
<br/> -->

<%= render partial: @posts.reverse %>

<br/>
<br/>

