<div class="top-bar">
  <div class="top-bar-title">
      <h4><strong><%= link_to 'CY', root_path %></strong></h4>
  </div>
  <div class="top-bar-right">
    <ul class="vertical medium-horizontal menu">
        <li> <%= link_to 'Github', 'https://github.com/cylim' %> </li>
        <li> <%= link_to 'Twitter', 'https://twitter.com/cylim226' %> </li>
        <li> <%= link_to 'About me', '/about' %> </li>
    </ul>
    </div>
  </div>
</div>