<div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon dark right" type="button" data-toggle></button>
    </span>

    <strong> <%= link_to 'CY', root_path %> </strong>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li> <%= link_to 'Github', 'https://github.com/cylim' %> </li>
        <li> <%= link_to 'Twitter', 'https://twitter.com/cylim226' %> </li>
        <li> <%= link_to 'About me', '/about' %> </li>
      </ul>
    </div>
  </div>
</div>